<script src="/socket.io/socket.io.js"></script>
<script>
<script>
	'use strict';
	console.log("here")
	(() => {
		let socket = io('{{host}}' + '/roomslist');
		//let newRoomInput = $("input[name='roomName']");

		socket.on('connect', () => console.log('Connected to Server! '));

		let renderChatRooms = chatrooms => {
			let roomsListDiv = $('#roomsListUL');
			let listStr = '';
			for(let cat of chatrooms) {
				listStr += `<a href="/chat/${cat.roomID}"><li>${cat.room}</li></a>`
			}
			roomsListDiv.html('').append(listStr);
		}

		//get a list of chatrooms
		socket.emit('getChatrooms');

		//Event listener  for chatroomList

		socket.on('chatRoomsList', chatrooms => {
			renderChatRooms(JSON.parse(chatrooms));
		});

		('#createBtn').on('click', () => {
			if(newRoomInput.val() !== '') {
				socket.emit('createNewRoom', newRoomInput.val());
				newRoomInput.val('');
			}
		})
	});
</script>

<link rel="stylesheet" type="text/css" href="css/rooms.css" />	
<div class="containerRooms">
	<div class="panel title-panel">
		<h3>DevConnect Chat</h3>
	</div>
	<div class="panel roomsnav">
		<div class="userPic">
			{{#if user.picture}}
			<img src="{{user.picture}}">
			{{else}}
			<img src="{{user.gravatar}}" class="gravatar">
			{{/if}}
		</div>
		<p class="userNameRooms">{{user.name}}</p>
	</div>		
	<div class="controls">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Create a new Chatroom...">
	      <span class="input-group-btn">
	        <button class="btn btn-secondary" id="createBtn" type="button">Create</button>
	      </span>
	    </div>
	</div>
	<div class="roomsListDiv panel">
		<ul class="roomsList" id="roomsListUL">
		<!-- Loop list items here -->
			
			<a href="chatroom.htm"><li>Coffee and Conversations 123</li></a>
			<a href="chatroom.htm"><li>Chat room number 2</li></a>
			<a href="chatroom.htm"><li>Chat room number 3</li></a>
		<!-- Loop ends -->
		</ul>
	</div>
</div>